body {
    background-color: #222;
    color: salmon;
    text-align: center;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 4em;
  }

  h3 {
      margin: 3vw auto;
  }

  button {
      margin-top: 5vw;
      width: 30vw;
      height: 12vw;
      border-radius: 10px;
      border: 5px solid salmon;
      font-size: medium;
      background-color: honeydew;
      color: rgb(226, 3, 226);
  }

  button:hover {
      background-color: rgb(213, 228, 213);
      color: magenta;
      font-size: large;
      border: 6px solid rgb(248, 108, 92);
  }
  
  img{
      display: flex;
      margin: 10vw auto;
  }

  #result{
      display: flex;
      align-items: center;
      border: 5px solid salmon;
      border-radius: 8px;
      margin: 5vw auto;
      width: 50vw;
      height: 30vw;
      padding: 10px auto;
  }

  .idea {
      
      color: salmon;
      margin: 100px auto;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    button{
        width: 35vw;
         height: 20vw;
    }
    #result{
        width: 60vw;
        height: 40vw;
    }
}