body {
    background-color: #222;
    color: salmon;
    text-align: center;
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 4em;
  }
  button {
      margin-top: 20vw;
      width: 20vw;
      height: 8vw;
      border-radius: 10px;
      border: 5px solid salmon;
      font-size: medium;
      background-color: honeydew;
      color: rgb(226, 3, 226);
  }

  button:hover {
      background-color: rgb(213, 228, 213);
      color: magenta;
      font-size: large;
      border: 6px solid rgb(248, 108, 92);
  }
  
  img{
      display: flex;
      margin: 10vw auto;
  }

  #result{
      border: 5px solid salmon;
      margin: 5vw auto;
      width: 50vw;
      height: 20vw;
  }